<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">  
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <title>Dog Bites in NYC</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  {% include "navbar.html" %}
  
  
  <h1>Dog Bites in NYC</h1>


  <div id="line_graph_all">
    {% include 'line_graph.svg' %}
  </div>

  <div class="takeaways">
    <ul>
      <li>On average, Manhattan has the greatest number of reported bites and Staten Island has the least. In 2020, the number of male dog bites in all boroughs decreased, most likely due to the COVID-19 outbreak and quarantine. Afterwards, four boroughs (except for Manhattan) see an slow increase in dog bites.</li>
    </ul>
    <ul>
      <p><strong>Takeaways:</strong><p>
      <li>This line graph demonstrates the amount of reported male dog bites in each borough. However, it is also possible that some boroughs have more reported bites because its residents are more inclined to report accidents.</li>
      <li>Before creating this line graph, I believed that boroughs such as Bronx and Brooklyn would have more reported dog bites due to personal experience (I barely see  dogs off of leashes in NYC). But, after further investigation and creating the line graph, I can see that Manhattan has the greatest amount, possibly due to amount of parks and dog parks.</li>
      <li>Lastly, it is important to note that this line graph only demonstrates the number of male dog bites per borough each year and not the breed of dog. It was easier to distill the information this way. However, if I were to do this project again, I would also try to incorporate the breed of dog because that could raise awareness on the certain breed of dogs that may be more aggressive than others.</li>
    </ul>
  </div>
  
  {% include "footer.html" %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
